<% content_for :projects_active, 'active' %>

<section class="projects">
  <p id="notice"><%= notice %></p>
  <br />
  <div class="actions">
    <%= link_to 'New Project', new_project_path %>
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th class="name">Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.id %></td>
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td class="actions">
            <%= link_to icon('fas', 'pencil-alt'), edit_project_path(project) %>
            &nbsp;
            <%= link_to icon('fas', 'trash'), project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
